*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
header {
    display: flex;
    background-color: #404040;
    padding: 20px 35px; 
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;

}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    text-align:justify;
    color: white;
}
header h1 a {
    color: white;
    text-decoration: none;

}
header nav {
    display: flex;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* --Body-- */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(2, 62, 2, 0.555)
}
/* About Me Section */
#main-bio {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 15px 15px;
    background-image: url("./assets/images/spiderWeb.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
#main-bio p {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 30px auto;
    left: 1000px;
    padding: 50px;
    color: white;
    font-size: 1.85vw;
}
#bio-image {
    margin: 100px;
}
/* Work Section */
#work-info {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 15px 0;
}
#work-info h2 {
    text-align: center;
    margin: 20px auto;
    color: white;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work {
    display:flex;
    align-items: flex-end;
    padding-bottom: 25px;
    margin: 0 auto;

}
/* .work:first-child {
    flex-basis: 100%;
} */
#runbuddy-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.work a:hover {
    border-color: ;
}

/* Contact Me Section */
footer {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

footer h2 {
    text-align: center;
    color: white;
}
    
#contact-info ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 20px auto;
    color: white;
}

#contact-info ul li {
    margin-top: 10px;
    border:1px solid grey;
}

li:first-child {
    margin-top:0;
}
#contact-info a {
    color: greenyellow;
}

